dataset/\.DS_Store


\.DS_Store

\.ipynb_checkpoints/

__pycache__/

\.vscode/
dataset/*.fa
dataset/expanded_regions/*.fa
*.fai
dataset/one_hot_encoded_expanded_regions/

dataset/one_hot_encoded_classes/

*/epigenomic_data/*.csv

test_dataset/cell_lines/

test_dataset/one_hot_encoded_classes/

test_dataset/one_hot_encoded_expanded_regions/
.holdouts