test_dataset/one_hot_encoded_classes/

dataset/expanded_regions/*.fa

dataset/one_hot_encoded_classes/*.csv

dataset/*.fa

\.notipy\.json

__pycache__/

test_dataset/one_hot_encoded_expanded_regions/

dataset/one_hot_encoded_expanded_regions/*.csv

\.DS_Store

dataset/\.DS_Store

.notipy.json


\.vscode/

*/__pycache__/*

**/__pycache__/*

*/epigenomic_data/*.csv

.holdouts

test_dataset/cnn

test_dataset/cell_lines/

*.fai

\.ipynb_checkpoints/

test_dataset/mmnn

test_dataset/mlp
