\.ipynb_checkpoints/
dataset/one_hot_encoded_classes/*.csv
__pycache__/
dataset/one_hot_encoded_expanded_regions/*.csv
dataset/expanded_regions/*.fa
test_dataset/cnn
**/__pycache__/*
test_dataset/one_hot_encoded_expanded_regions/
test_dataset/mlp
.holdouts
\.vscode/
test_dataset/mmnn
test_dataset/cell_lines/
dataset/\.DS_Store
*/epigenomic_data/*.csv
.notipy.json
*.fai
test_dataset/one_hot_encoded_classes/
\.DS_Store
dataset/*.fa
*/__pycache__/*